<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Super Sprinter 3000</title>
</head>
<body>
    <h1>Super Sprinter 3000</h1>
    <a href="/story">Add new user story</a>
    <table style="width:100%">
      <tr>
        <th>ID</th>
        <th>Story title</th>
        <th>User story</th>
        <th>Acceptance criteria</th>
        <th>Business Value</th>
        <th>Estimation</th>
        <th>Status</th>

      </tr>

      {% for item in data %}
      <tr>
          <td>{{item[0]}}</td>
          <td>{{item[1]}}</td>
          <td>{{item[2]}}</td>
          <td>{{item[3]}}</td>
          <td>{{item[4]}}</td>
          <td>{{item[5]}}</td>
          <td>{{item[6]}}</td>
      </tr>
      {% endfor %}


    </table>

</body>
</html>